@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

/*
light black : #353531
red: #EC4E20
yellow: #FF9505
blue: #016FB9
black: #000000
green: #21ED83
light grey: #E1E1E1
*/

h1 {
  padding-top: 15px;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
}

.sidebar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  padding-top: 20px;
  background-color: #FFFFFF;
  width: 200px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-image: linear-gradient(to top, #d5d4d0 0%, #d5d4d0 1%, #eeeeec 31%, #efeeec 75%, #e9e9e7 100%);
}

.sidebar a {
  text-decoration: none;
  color: #353531;

}

.sidebar .link {
  /* margin-left: 5px; */
  color: #353531;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  border-left: solid 0px #EC4E20;
  transition: border-left 0.2s;
}

.sidebar .link:hover {
  border-left: solid 12px #EC4E20;
}

.logo {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  color: #000000;
  text-align: center;
  border-left: solid 3px #EC4E20;
  transition: background-color 0.8s, border-left 1s, color 1s;
}

.logo:hover {
  background-color: #EC4E20;
  border-left: solid 3px white;
  color: #353531;
}

.links { 
  font-family: 'Merriweather', serif;
  padding-top: 60px;
}

.content {
  height: 100%;
  width: 100%;
  padding-left: 200px;
  background-color: #FFFFFF;
  overflow: auto;
  overflow-x: hidden;
}

.container {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0%;
  transition: opacity 1s ease-out;
}

.animation {
  opacity: 100%;
}

.stock-title {
  font-family: 'Merriweather', serif;
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 25px;
  margin-top: 20px;
}

.chart-container {

}

.chart {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

table {
  width: 100%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-family: 'Nunito', sans-serif;
}

th {
  border-bottom: 1px solid black;
  font-size: 18px;
  height: 36px;
  background-color: #E1E1E1;
}

td {
  border: 1px solid white;
  border-bottom: 1px solid black;
}

.btn-container {
  display: flex;
}

.btn {
  width: 100px;
  flex-grow: 1;
  padding: 15px;
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: #353531;
  border: none;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: box-shadow 0.4s; */
  outline: 1px hidden #FFFFFF;
  outline-offset: 0px;
  transition: outline-offset 0.2s ease-out, color 0.4s ease-out;
  font-weight: 600;
}

.btn:hover {
  outline: 1px solid #FFFFFF;
  outline-offset: -5px;
  color: white;
}

.btn-add {
  background-color: #21ED83;
  color: #353531;
  font-size: 18px;
}

.btn-upd {
  background-color: #016FB9;
}

.btn-del {
  background-color: #EC4E20;
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.23);
  opacity: 0%;
  transition: opacity 0.3s ease-in-out, margin-left 0.3s ease-out;
}

.modal-wrapper {
  overflow: auto;
  width: 600px;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  padding: 20px;
  background-color: #fff;
}

.modal-animation {
  opacity: 100%;
  margin-left: 100px;
}

.modal-wrapper h1 {
  font-family: 'Nunito', sans-serif;
  font-size: 2rem;
  border-bottom: 2px solid #000000;
}

.modal-form {
  text-align: center;
  width: 500px;
  margin: auto;
}

.modal-label {
  font-family: 'Nunito', sans-serif;
  font-size: 1.25em;
}

.modal-input {
  height: 32px;
  margin-left: 15px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.modal-text {
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 1.25em;
  font-family: 'Nunito', sans-serif;
}